# Framework
Django==1.10.1

# Libs
django-debug-toolbar==1.6
django-grappelli==2.8.2
geopy==1.11.0
ipython==5.1.0
psycopg2==2.6.2
raven==5.27.1
requests==2.11.1
Scrapy==1.1.2
scrapy-djangoitem==1.1.1
telepot==10.4
transliterate==1.9
Unipath==1.1
whitenoise==3.2.3

# Heroku libs
dj-database-url==0.4.1
gunicorn==19.6.0

