# Framework
Django==2.2.27

# Libs
django-debug-toolbar==1.11.1
django-grappelli==2.8.2
emoji==0.4.5
geopy==1.11.0
ipython==5.1.0
psycopg2==2.6.2
raven==5.27.1
requests==2.20.0
Scrapy==2.7.1
scrapy-djangoitem==1.1.1
telepot==10.4
Unipath==1.1
whitenoise==3.2.3
xlrd==1.0.0

# Python bot utils
git+ssh://git@github.com/vero4karu/python-bot-utils.git@v0.0.3

